<div id="home-gallery">
</div>

<template id="gallery-post-template">
    <div class="gallery-post">
            <img class="post-picture" alt="post picture">
            <div class="post-details">
                <div class="post-caption">
                    <p class="post-caption-text"></p>
                    <p class="post-caption-date">Posted: <time datetime=""></time></p>
                </div>
                <div class="post-engagement">
                    <div class="post-like-infos"><p></p><input class="heart-button" type="image" src="./images/heart_empty.png" onclick="handleHeartButton(event)"></div>
                    <div class="post-comment-infos"><p></p><input class="comment-button" type="image" src="./images/comment_empty.png" onclick="handleCommentButton(event)"></div>
                </div>
            </div>
            <div class="post-comment-zone">
                <!-- <div class="open-comments">
                    <img src="./images/up_arrow.png" alt="up arrow">
                    <img src="./images/up_arrow.png" alt="up arrow">
                </div> -->
                <div class="post-comments">
                </div>
                <div class="post-comment-details">
                    <input class="post-comment-input" type="text" name="comment" placeholder="Comment...">
                    <div class="post-engagement">
                        <div class="post-like-infos"><p></p><input class="heart-button" type="image" src="./images/heart_empty.png" onclick="handleHeartButton(event)"></div>
                        <div class="post-comment-infos"><p></p><input class="comment-button" type="image" src="./images/comment_empty.png" onclick="handleCommentButton(event)"></div>
                    </div>
                </div>
            </div>
    </div>
</template>

<template id="post-comment-template">
    <div class="post-comment">
        <p></p>
    </div>
</template>
