server {
    listen 80 default_server;
    server_name _;

    return 301 https://${DOMAIN_NAME};
}

server {
    listen 443 ssl default_server;
    server_name ${DOMAIN_NAME};

    ssl_certificate /etc/nginx/tls/${DOMAIN_NAME}.crt;
    ssl_certificate_key /etc/nginx/tls/${DOMAIN_NAME}.key;

    location / {
        root /app/frontend;
    }
}